@use "../abstract/" as *;
@use "../base/" as *;

.readMoreBanner {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: $clr--secondary;
    z-index: 0;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    padding-top: 2rem;
  }

  &__topTitle {
    @include betweenBot();

    h3 {
      font-family: $font-secondary;
      width: 400px;
    }
    .published {
      display: flex;
    }
    margin-bottom: 5rem;
  }

  &__botTitle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .content {
      display: flex;
      .boldP {
        font-weight: bold;
      }
    }
    margin: 2rem 0;
  }

  .line {
    width: 100%;
    height: 2px;
    background: $clr--dark;
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5rem;
    gap: 2rem;

    .ingredients {
      background-color: $clr--primary;
      padding: 3rem;
      color: $clr--light;
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.directions {
  &__wrapper {
    .directionTitle {
      color: $clr--primary;
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .directionTitle::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $clr--primary;
      margin-top: 8px;
    }

    .mainContent {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 2rem;
      .left {
        .boldP {
          font-weight: bold;
          margin-bottom: 2rem;
          margin-top: 3rem;
        }
        .line {
          height: 2px;
          width: 100%;
          background-color: $clr--dark;
          margin-top: 3rem;
        }
        .prevNext {
          @include between();
          height: fit-content;
          height: 3rem;
          p {
            font-weight: bold;
          }
        }
        .youtubeTitle {
          font-family: $font-secondary;
          margin-top: 3rem;
          color: $clr--primary;
        }
        .videoContainer {
          margin-top: 2rem;
          iframe {
            width: 90%;
            height: 20vw;
          }
        }
      }
      .right {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .catTags {
          .category {
            display: flex;
            gap: 1rem;
            align-items: center;
            .catTitle {
              font-weight: bold;
            }
            .content {
              background-color: $clr--dark;
              color: black;
              padding: 5px 10px;
              border-radius: 20px;
            }
          }
          .Tags {
            display: flex;
            gap: 1rem;
            width: fit-content;
            align-items: center;
            margin-top: 1rem;
            .TagTitle {
              font-weight: bold;
            }
            .content {
              background-color: $clr--dark;
              color: black;
              padding: 5px 10px;
              border-radius: 20px;
            }
          }
          .TagExended {
            display: flex;
            gap: 1rem;
            width: fit-content;
            align-items: center;
            margin-top: 1rem;
            p {
              background-color: $clr--dark;
              color: black;
              padding: 5px 10px;
              border-radius: 20px;
            }
          }
        }
        h3 {
          font-family: $font-secondary;
          color: $clr--primary;
        }
        .cards {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .card {
            display: flex;
            gap: 1rem;
            img {
              width: 100px;
              height: 150px;
            }
            .content {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              justify-content: center;

              .title {
                color: $clr--primary;
                letter-spacing: 10px;
              }

              .title2 {
                font-family: $font-secondary;
              }

              .stars i {
                color: $clr--primary;
              }
            }
          }
        }
      }
    }
  }
}
